.nav {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0 1vw;
  transition-duration: 1s;
}

.div_for_link {
  position: relative;
  margin: 0 1.5vh;
}

.link {
  color: #ffffff;
  font-size: 1vw;
  margin: 0;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  cursor: pointer;
  }

.link:hover {
  color: #F04A2A;
}

.link::before {
  content: "";
  border-radius: 4px;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 47%; bottom: -10px;
  transition-duration: 0.2s;
}

.link:hover::before {
  background-color: #F04A2A;
}

.link:active {
  color: #bd3a20;
}

.second_nav {
  display: flex;
  flex-direction: column;
  // align-items: center;
  position: absolute;
  width: 200px;
  // box-shadow: 2px 2px 4px #F04A2A;
  padding: 5px 10px;
  top: 40px;
  // white-space: nowrap;
}

.opac {
  width: 100%;
  height: 100%;
  // padding: 5px 10px;
  z-index: -1;
  position: absolute;
  opacity: 90%;
  background-color: black;
  top: 0;
  left: 0;
}

@media (min-width: 1600px) {
  .second_nav {
    top: 50px;
  }

  .link::before {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    left: 47%; bottom: -10px;
  }

}