.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4vw;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #ffffff98;
  padding-right: 4vw;
}

.logo_link {
  width: 50%;
}

.logo_link img {
  width: 100%;
}



.footer_center {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3vw;
}

.center_left {
  display: flex;
  width: 100%;
}

.left_container {
  width: 50%;
}

.center_right {
  margin-top: 8vw;
  width: 100%;
}

.right_title {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.right_title span {
  margin-top: 0.15vw;
  font-size: 2.3vw;
  color: #ffffff98;
}

.right_title img{
  margin-top: 0.2vw;
  height: 4vw;
}

.right_content_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}



.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 1px #ffffff98;
  padding: 3vw 2vw;
  gap: 1vw;
}

.p_footer_bottom {
  color: #ffffff98;
  font-size: 3.2vw;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  width: 50%;
  order: -1;
}

.footer_contacts a {
  width: 25%;
}

.footer_contacts_img {
  width: 100%;
}

.h2_top {
  font-family: 'Gotham Pro Medium';
  font-size: 3vw;
}

.h2_center {
  font-family: 'Gotham Pro Medium';
  font-size: 4vw;
}

.left_container p {
  font-size: 3vw;
  color: #ffffff;
  margin-top: 3vw;
}

@media (min-width: 768px) {
  .logo_link {
    width: 35%;
  }

  .h2_top {
    font-size: 2.1vw;
  }

  .h2_center {
    font-size: 2.5vw;
  }

  .left_container p {
    font-size: 2vw;
    margin-top: 2vw;
  }

  .right_title {
    gap: 1vw;
  }

  .right_title span {
    font-size: 1.5vw;
  }

  .right_title img{
    height: 2.5vw;
  }

  .p_footer_bottom {
    font-size: 1.8vw;
  }

  .footer_contacts {
    width: 40%;
  }

  .footer_contacts a {
    width: 16%;
  }

}

@media (min-width: 1200px) {
  .logo_link {
    width: 20%;
  }

  .h2_top {
    font-size: 1.3vw;
  }

  .h2_center {
    font-size: 1.3vw;
  }

  .left_container p {
    font-size: 1vw;
    margin-top: 2vw;
  }



  .footer_center {
    flex-direction: row;
  }

  .center_left {
    width: 50%;
  }

  .center_right {
    margin-top: 0;
    width: 50%;
  }

  .right_title {
    gap: 0.5vw;
  }

  .right_title span {
    font-size: 0.6vw;
  }

  .right_title img{
    height: 1.3vw;
  }



  .footer_bottom {
    flex-direction: row;
    gap: 0;
  }

  .p_footer_bottom {
    font-size: 0.8vw;
  }

  .footer_contacts {
    width: 20%;
    order: 0;
  }

  .footer_contacts a {
    width: 16%;
  }
}