.advantages {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 2.5vw 40px 2.5vw;
}

.card_img {
  width: 90%;
}

.adv_bg_orange {
  position: absolute;
  left: -60%;
  top: 30%;
  width: 120vw;
  height: 80vw;
  transform: rotate(120deg);
  z-index: -2;
}

.advantages_title {
  font-size: 4.8vw;
  margin-left: 0.5vw;
  font-family: 'Gotham Pro Medium';
}

.advantages_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  padding: 40px 0;
  position: relative;
}

.advantages_div {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.arrow_1 {
  display: none;
  z-index: -1;
}

.arrow_6 {
  display: none;
  z-index: -1;
}

.advantages_div_center {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow_7 {
  display: none;
  z-index: -1;
}

.arrow_8 {
  display: none;
  z-index: -1;
}

.arrow_4 {
  display: none;
  z-index: -1;
}

.arrow_2 {
  display: none;
  z-index: -1;
}

.arrow_3 {
  display: none;
  z-index: -1;
}

.arrow_5 {
  display: none;
  z-index: -1;
}

@media (min-width: 420px) {
  .arrow_1 {
    display: inline;
    position: absolute;
    height: 70%;
    left: -55px;
    top: 15%;
  }
  
  .arrow_6 {
    display: inline;
    position: absolute;
    height: 70%;
    right: -50px;
    top: 15%;
  }

  .arrow_7 {
    display: inline;
    position: absolute;
    height: 140%;
    left: -55px;
    top: 30%;
  }

  .arrow_8 {
    display: inline;
    position: absolute;
    height: 140%;
    right: -50px;
    top: -70%;
  }
}

@media (min-width: 768px) {
  .advantages_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages_title {
    font-size: 3.4vw;
  }

  .advantages_div_center {
    order: 1;
  }

  .arrow_4 {
    display: inline;
    position: absolute;
    height: 30%;
    top: 15%;
    left: -120px;
    transform: rotate(90deg);
  }

  .arrow_2 {
    display: inline;
    position: absolute;
    height: 35%;
    top: 15%;
    right: -140px;
    transform: rotate(90deg);
  }

  .arrow_7 {
    display: none;
  }

  .arrow_8 {
    display: none;
  }

  .adv_bg_orange {
    top: -5vw;
    left: -50%;
    width: 90vw;
    height: 70vw;
    transform: rotate(140deg);
  }
}

@media (min-width: 1011px) {
  .advantages_div_center {
    order: 0;
  }

  .advantages_container {
    flex-wrap: nowrap;
  }

  .arrow_1 {
    display: none;
  }
  
  .arrow_6 {
    display: none;
  }

  .arrow_4 {
    height: 30%;
    top: auto;
    bottom: -24%;
    left: -10%;
    transform: rotate(0deg);
  }

  .arrow_2 {
    height: 35%;
    top: -29%;
    right: auto;
    left: -14%;
    transform: rotate(0deg);
  }

  .arrow_3 {
    display: inline;
    position: absolute;
    height: 85%;
    top: -75%;
    right: -22%;
  }

  .arrow_5 {
    display: inline;
    position: absolute;
    height: 78%;
    right: -26%;
    bottom: -70%;
  }

}

@media (min-width: 1090px) {
  .arrow_1 {
    display: inline;
  }
  
  .arrow_6 {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .advantages_title {
    font-size: 2vw;
  }

  .adv_bg_orange {
    top: -30%;
    left: -70%;
    width: 90vw;
    height: 70vw;
    transform: rotate(180deg);
  }
}