.current_vacancies {
  width: 100%;
  padding: 40px 0 40px 0;
  position: relative;
  z-index: 1;
}

.current_title {
  font-size: 4.8vw;
  margin-left: 3vw;
  font-family: 'Gotham Pro Medium';
  margin-bottom: 35px;
}

.orange {
  color: #F04A2A;
}

.vacancy_container {
  width: 100%;
}

@media (min-width: 768px) {
  .current_title {
    font-size: 3.4vw;
  }
}

@media (min-width: 1200px) {
  .current_title {
    font-size: 2vw;
  }
}