.welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 2.5vw 40px 3vw;
}

.welcome_left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_title {
  display: flex;
  font-size: 4.8vw;
  font-family: 'Gotham Pro Medium';
  margin-bottom: 4vw;
}

.orange {
  color: #F04A2A;
}

.welcome_p {
  margin-top: 0;
  margin-bottom: 8%;
  font-size: 5vw;
  width: 100%;
  font-weight: 300;
}

.welcome_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.btn_open_vac {
  position: relative;
  color: #F04A2A;
  width: 200px;
  height: 40px;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 8px;
  background: #F04A2A;
  text-decoration: none;
  offset: 1000px;
  cursor: pointer;
}
// .btn_open_vac:hover {
//   color: #F04A2A;
// }
.btn_open_vac::before, .btn_open_vac::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  background: repeating-linear-gradient(-45deg,#F04A2A 0%, black 25%);
  background-size: 200vw 200vw;
  animation: gradient_btn 12s infinite linear;
  // opacity: 0;
  // visibility: hidden;
}
@keyframes gradient_btn {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200vw;
  }
}
// .btn_open_vac:hover::before, .btn_open_vac:hover::after {
//   opacity: 1;
//   visibility: visible;
// }
.btn_open_vac:hover::before {
  filter: blur(20px);
}
.btn_open_vac span {
  position: relative;
  z-index: 10;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_open_vac span::before {
  content: '';
  position: absolute;
  width: 196px;
  height: 36px;
  background-color: black;
  z-index: -1;
  top: 2px;
  left: 2px;
  border-radius: 8px;
}
// .btn_open_vac:hover span::before {
//   background-color: black;
// }

.frame_laptop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  position:absolute;
  z-index: 0;
  top: -9.9%;
  left: 24.68%;
  perspective: 280px;
  perspective-origin: 0% 24%;
}

.laptop {
  width: 100%;
}

.frame_blc {
  width: 84.2%;
  overflow:hidden;
  position:relative;
  // padding-bottom:56.25%;
  padding-bottom: 47.5%;
  padding-top:30px;
  height:0;
  z-index: 1;
  transform: rotateY(-10deg);
}

.frame_blc iframe {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

@media (min-width: 350px) {
  .frame_blc {
    padding-bottom: 48.5%;
  }

  .frame_laptop {
    perspective: 320px;
  }
}

@media (min-width: 380px) {
  .frame_blc {
    padding-bottom: 49.5%;
  }
}

@media (min-width: 400px) {
  .frame_blc {
    padding-bottom: 50.5%;
  }

  .frame_laptop {
    perspective: 350px;
    left: 24.54%;
  }
}

@media (min-width: 450px) {
  .frame_blc {
    padding-bottom: 52%;
  }

  .frame_laptop {
    perspective: 420px;
  }
}

@media (min-width: 520px) {
  .frame_blc {
    padding-bottom: 54%;
    width: 85%;
  }

  .frame_laptop {
    perspective: 500px;
  }
}

@media (min-width: 620px) {
  .frame_blc {
    padding-bottom: 55%;
    width: 85.5%;
  }

  .frame_laptop {
    perspective: 600px;
    left: 24.5%;
  }
}

@media (min-width: 768px) {
  .welcome_title {
    font-size: 3.4vw;
    margin-bottom: 4vw;
  }

  .welcome_p {
    font-size: 2.8vw;
  }

  .btn_open_vac {
    color: #ffffff;
  }
  .btn_open_vac:hover {
    color: #F04A2A;
  }
  .btn_open_vac::before, .btn_open_vac::after {
    opacity: 0;
    visibility: hidden;
  }
  .btn_open_vac:hover::before, .btn_open_vac:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .btn_open_vac span::before {
    background-color: transparent;
  }
  .btn_open_vac:hover span::before {
    background-color: black;
  }

  .frame_laptop {
    top: -9.7%;
    left: 24.4%;
    perspective: 660px;
  }

  .frame_blc {
    width: 84.8%;
  }
}

@media (min-width: 840px) {
  .frame_laptop {
    top: -9.8%;
    left: 24.6%;
    perspective: 760px;
  }

  .frame_blc {
    padding-bottom: 56%;
  }

}

@media (min-width: 940px) {
  .frame_laptop {
    perspective: 840px;
  }
  .frame_blc {
    width: 84.4%;
    padding-bottom: 56.5%;
  }
}

@media (min-width: 1040px) {
  .frame_laptop {
    perspective: 960px;
  }

  .frame_blc {
    width: 85%;
    padding-bottom: 56.8%;
  }

}

@media (min-width: 1200px) {
  .welcome {
    flex-direction: row;
    min-height: 600px;
  }
  
  .welcome_left {
    width: 60%;
  }

  .welcome_title {
    font-size: 2vw;
    margin-bottom: 3%;
  }

  .welcome_p {
    font-size: 1.5vw;
    width: 90%;
  }

  .welcome_right {
    width: 40%;
    margin: 0;
  }

  .frame_laptop {
    top: -6.5%;
    left: 24.8%;
    perspective: calc(500px + 700 * ((100vw - 1200px) / (3840 - 1200)));
    perspective-origin: 0% 28%;
  }
  
  .frame_blc {
    width: 85.4%;
    padding-bottom: 52%;
  }

}

@media (min-width: 1250px) {
  .frame_laptop {
    top: -7%;
  }

  .frame_blc {
    width: 85%;
  }
}

@media (min-width: 1320px) {
  .frame_laptop {
    top: -7.2%;
  }

  .frame_blc {
    padding-bottom: 53%;
  }
}

@media (min-width: 1400px) {
  .frame_laptop {
    top: -7.5%;
    left: 24.6%;
  }

  .frame_blc {
    width: 84.5%;
  }
}

@media (min-width: 1500px) {
  .frame_laptop {
    top: -8%;
  }
}

@media (min-width: 1600px) {
  .frame_laptop {
    top: -8.6%;
  }

  .frame_blc {
    padding-bottom: 54%;
  }
}

@media (min-width: 1700px) {
  .frame_laptop {
    top: -9.5%;
  }

  .frame_blc {
    width: 84%;
    padding-bottom: 55%;
  }
}

@media (min-width: 2080px) {
  .frame_laptop {
    top: -10%;
  }

  .frame_blc {
    padding-bottom: 56%;
  }
}

@media (min-width: 2800px) {
  .frame_laptop {
    left: 24.4%;
  }

  .frame_blc {
    padding-bottom: 57%;
  }
}

@media (min-width: 3200px) {
  .frame_laptop {
    left: 24.4%;
  }

  .frame_blc {
    padding-bottom: 57%;
  }
}
