.link {
  color: #ffffff;
  font-size: 5vmin;
  margin: 0.5vh 0 15px 0;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  cursor: pointer;
}

.link:hover {
  color: #F04A2A;
}

.link::before {
  content: "";
  border-radius: 3px;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 47.5%; bottom: -8px;
  transition-duration: 0.2s;
}

.link:hover::before {
  background-color: #F04A2A;
}

.link:active {
  color: #bd3a20;
}

.lang {
  display: flex;
  width: 100%;
}

.lang a {
  width: 25%;
}

.lang_img {
  width: 60%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  position: fixed;
  padding: 2vh 0 2vh 20vw;
  top: 10vh;
  right: 0;
  width: 100vw;
  height: 90vh;
  transition-duration: 0.5s;
  overflow: auto;
  background-color: #151A21;
}

.nav_off {
  right: -100vw;
}

.line {
  background-color: #F04A2A;
  height: 2px;
  width: 100%;
  margin: 5px 0;
  flex-shrink: 0;
}

.div_for_link {
  width: 100%;
  flex-shrink: 0;
}

.second_nav {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

@media (min-width: 600px) {
  .link::before {
    content: "";
    border-radius: 4px;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 47%; bottom: -10px;
    transition-duration: 0.2s;
  }

  .lang_img {
    width: 50%;
  }

}

@media (min-width: 768px) {
  .nav {
    top: 12vh;
    height: 88vh;
  }

  .lang_img {
    width: 40%;
  }
}