.link {
  color: #ffffff;
  font-size: 5vmin;
  margin: 0.5vh 0 15px 0;
  text-decoration: none;
  position: relative;
  transition-duration: 0.2s;
  cursor: pointer;
  }

.link:hover {
  color: #F04A2A;
}

.link::before {
  content: "";
  border-radius: 3px;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 47.5%; bottom: -8px;
  transition-duration: 0.2s;
}

.link:hover::before {
  background-color: #F04A2A;
}

.link:active {
  color: #bd3a20;
}

.lang {
  width: 30%;
}

.lang_img {
  width: 50%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  position: fixed;
  padding: 2vh 0 2vh 20vw;
  top: 12vh;
  right: 0;
  width: 80vw;
  height: 84vh;
  transition-duration: 1s;
  overflow: scroll;
  background-color: #151A21;
}

.nav_off {
  right: -100vw;
}

.line {
  background-color: #F04A2A;
  height: 2px;
  width: 100%;
  margin: 5px 0;
  flex-shrink: 0;
}

.div_for_link {
  width: 100%;
  flex-shrink: 0;
}

.second_nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .link::before {
    content: "";
    border-radius: 4px;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 47%; bottom: -10px;
    transition-duration: 0.2s;
  }
  
}

// @media (min-width: 1200px) {
//   .nav {
//     flex-direction: row;
//     gap: 0;
//     position: static;
//     padding: 0;
//     width: auto;
//     height: auto;
//     top: 0;
//     margin: 0 1vw;
//     overflow: visible;
//   }

//   .div_for_link {
//     width: auto;
//     height: 100%;
//     position: relative;
//     margin: 0 1.5vh;
//     border: red solid 1px;
//   }

//   .second_nav {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     width: auto;
//     background-color: #151A21;
//     top: 5vh;
//   }

//   .link {
//     font-size: 1.5vw;
//     margin: 0;
//   }

//   .line {
//     display: none;
//   }
// }

// @media (min-width: 1600px) {
//   .second_nav {
//     top: 6vh;
//   }
// }