.adv_cards {
  width: 290px;
  height: 250px;
  padding: 20px;
  position: relative;
  margin: 10px;
}

.smaller {
  height: 228px;
}

.larger {
  height: 274px;
}

.adv_layout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 80%;
  background-color: #ffffff2a;
  border: 1px solid white;
  border-radius: 20px;
  top: 0;
  left: 0;
}

.card_top {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adv_card_line {
  width: 75%;
  height: 2px;
  background-color: #ffffffb4;
  flex-shrink: 0;
}

.adv_img {
  width: 20%;
}

.smaller_img {
  width: 18%;
}

.adv_cards h3 {
  font-family: 'Gotham Pro Medium';
  font-size: 1.3rem;
}

.adv_cards p {
  color: #ffffffb4;
  font-size: 1.2rem;
  margin-top: 5%;
}

@media (min-width: 768px) {
  .adv_cards {
    margin: 15px;
  }
}

@media (min-width: 1011px) {
  .adv_cards {
    margin: 20px;
  }
}

@media (min-width: 1200px) {
  .adv_cards {
    margin: calc(20px + 7 * ((100vw - 1200px) / (1800 - 1200)));
    width: calc(290px + 87 * ((100vw - 1200px) / (1800 - 1200)));
    height: calc(252px + 75 * ((100vw - 1200px) / (1800 - 1200)));
    padding: calc(20px + 6 * ((100vw - 1200px) / (1800 - 1200)));
  }

  .smaller {
    height: calc(228px + 68 * ((100vw - 1200px) / (1800 - 1200)));
  }

  .larger {
    height: calc(276px + 83 * ((100vw - 1200px) / (1800 - 1200)));
  }

  .adv_layout {
    border-radius: calc(20px + 6 * ((100vw - 1200px) / (1800 - 1200)));
  }

  .card_top {
    height: calc(52px + 15 * ((100vw - 1200px) / (1800 - 1200)));
  }
  
  .adv_cards h3 {
    font-size: calc(21px + 6 * ((100vw - 1200px) / (1800 - 1200)));
  }
  
  .adv_cards p {
    font-size: calc(20px + 6 * ((100vw - 1200px) / (1800 - 1200)));
  }
}