.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 2vw;
  z-index: 100;
  background-color: #151A21;
}

.logo {
  width: 35vw;
  object-fit: cover;
}

.logo_link {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.icon_container {
  display: flex;
  justify-content: space-between;
  // width: 15%;
  height: 100%;
  align-items: center;
  gap: 2vw;
}

.contacts_messenger {
  display: flex;
  align-items: center;
  height: 40%;
}

.contacts_messenger a{
  height: 90%;
}

.contacts_img {
  height: 100%;
}

.lang {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
  // width: 50%;
}

.lang_img {
  width: 5vw;
}

.span_lang {
  font-size: 3vw;
  margin: 0 4px;
  cursor: pointer;
}

.span_lang:hover {
  color: #F04A2A;
  text-decoration: underline;
}

.span_slash {
  font-size: 3vw;
}

.burger {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 26px;
  height: 26px;
  cursor: pointer;
  flex-shrink: 0;
}
.burger > .brg_icon,
.burger > .brg_icon::before,
.burger > .brg_icon::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F04A2A;
}
.burger > .brg_icon::before {
    content: '';
    top: -8px;
}
.burger > .brg_icon::after {
    content: '';
    top: 8px;
}
.burger_status > .brg_icon {
  transform: rotate(45deg);
}
.burger_status > .brg_icon::before {
  top: 0;
  transform: rotate(0);
}
.burger_status > .brg_icon::after {
  top: 0;
  transform: rotate(90deg);
}
.burger > .brg_icon,
.burger > .brg_icon::before,
.burger > .brg_icon::after {
transition-duration: .1s;
}

@media (min-width: 500px) {
  .lang {
    height: 40%;
  }
  
  .lang_img {
    height: 90%;
    width: auto;
  }
  
  .span_lang {
    font-size: 2vw;
  }

  .span_slash {
    font-size: 2vw;
  }
}

@media (min-width: 768px) {
  .header {
    height: 12vh;
  }

  .logo {
    height: 60%;
    width: auto;
    object-fit: cover;
  }
  
  .logo_link {
    align-items: center;
    height: 100%;
    width: auto;
  }

  .span_lang {
    font-size: 1.5vw;
  }

  .span_slash {
    font-size: 1.5vw;
  }
}

@media (min-width: 1200px) {
  .span_lang {
    font-size: 0.8vw;
  }

  .span_slash {
    font-size: 0.8vw;
  }
}

