.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 30px;
  width: 100vw;
  // border-bottom: solid 1px #ffffff;
}

.logo {
  height: 100%;
  margin-left: 2vw;
}

.lang {
  display: flex;
  align-items: center;
  margin: 0 3vw;
  height: 40%;
  cursor: pointer;
}

.lang_img {
  height: 90%;
}

.span_lang {
  font-size: 90%;
  margin: 0 4px;
}

.span_lang:hover {
  color: #F04A2A;
  text-decoration: underline;
}

.span_slash {
  font-size: 90%;
}

.burger {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: 3vw;
  flex-shrink: 0;
}

.burger > .brg_icon,
.burger > .brg_icon::before,
.burger > .brg_icon::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #F04A2A;
}
.burger > .brg_icon::before {
    content: '';
    top: -8px;
}
.burger > .brg_icon::after {
    content: '';
    top: 8px;
}

.burger_status > .brg_icon {
  transform: rotate(45deg);
}

.burger_status > .brg_icon::before {
  top: 0;
  transform: rotate(0);
}

.burger_status > .brg_icon::after {
  top: 0;
  transform: rotate(90deg);
}

.burger > .brg_icon,
.burger > .brg_icon::before,
.burger > .brg_icon::after {
transition-duration: .1s;
}

@media (min-width: 1000px) {

  .burger {
    display: none;
  }

}