.a_container {
  width: 45%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #ffffff98;
  margin: 4vw 0;
}

.a_container:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  color: #ffffff;
}

.cards_title {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1vw;
}

.small_img {
  width: 25%;
}

.big_img {
  width: 18%;
}

.cards_title p {
  font-size: 3vw;
}

.cards_text p {
  margin-top: 2vw;
  font-size: 2.8vw;
}

@media (min-width: 768px) {
  .a_container {
    width: 30%;
    margin: 1vw 0;
  }
}

@media (min-width: 1200px) {
  .a_container {
    width: 26%;
    margin: 1vw 0;
  }

  .cards_title {
    gap: 0.4vw;
  }

  .small_img {
    width: 20%;
  }

  .cards_title p {
    font-size: 0.9vw;
  }

  .cards_text p {
    margin-top: 1vw;
    font-size: 0.8vw;
  }
}