.a_container {
  width: 45%;
  margin: 4vw 0;
  color: #ffffff;
}

.cards_title {
  display: flex;
  align-items: center;
  height: 8vw;
  width: 100%;
  gap: 1vw;
}

.cards_logo {
  height: 90%;
}

.cards_title h3 {
  font-size: 3vw;
}

.cards_text p {
  margin-top: 2vw;
  margin-left: 0.2vw;
  font-size: 2.8vw;
}

@media (min-width: 768px) {
  .a_container {
    width: 30%;
    margin: 1vw 0;
  }

  .cards_title {
    height: 5vw;
    gap: 0.6vw;
  }

  .cards_title h3 {
    font-size: 1.8vw;
  }

  .cards_text p {
    margin-top: 2vw;
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  .a_container {
    width: 26%;
    margin: 1vw 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #ffffff98;
  }

  .a_container:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    color: #ffffff;
  }

  .cards_title {
    height: 2vw;
    gap: 0.4vw;
  }

  .cards_title h3 {
    font-size: 0.9vw;
  }

  .cards_text p {
    margin-top: 1vw;
    font-size: 0.8vw;
  }
}