#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
  position: relative;

}

.bg_orange_01 {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  background-image: url('/fon-top-675.png');
  background-size: 120vw;
  background-repeat: no-repeat;
  background-position: 15vw 80vw;
}

.orange {
  color: #F04A2A;
}

@media (min-width: 768px) {
  .main {
    margin-top: 12vh;
  }

  .bg_orange_01 {
    background-size: 120%;
    background-position: -50% 34vh;
  }
}

@media (min-width: 1200px) {
  .bg_orange_01 {
    background-size: 69vw;
    background-position: 170% -19vw;
  }
}