@font-face {
  font-family: 'Gotham Pro Light';
  src: url('./assets/fonts/Gotham-Pro/gothampro_light.woff2') format('woff2');
  src: url('./assets/fonts/Gotham-Pro/gothampro_light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('./assets/fonts/Gotham-Pro/gothampro.woff2') format('woff2');
  src: url('./assets/fonts/Gotham-Pro/gothampro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('./assets/fonts/Gotham-Pro/gothampro_medium.woff2') format('woff2');
  src: url('./assets/fonts/Gotham-Pro/gothampro_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('./assets/fonts/Gotham-Pro/gothampro_bold.woff2') format('woff2');
  src: url('./assets/fonts/Gotham-Pro/gothampro_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Gotham Pro";

  background-color: #151A21;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding:0;
  margin:0;
  border:0
 }
 *, :after, :before {
  -webkit-box-sizing:border-box;
  box-sizing:border-box
 }

a:link,
a:visited {
 text-decoration:none
}
a:hover {
 text-decoration:none
}

ul li {
  list-style:none
 }

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
}